
.logologin{
    padding-top: 6rem;
    padding-left: 8rem;
}
.carta{
    
    margin-top: 10%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 20%;
    width: auto;
    height: 50rem;
    border-radius: 24px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
.txt0{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  
}
.txt{
    font-family: "Inter", sans-serif;
    padding-top: 1.7rem;
  font-weight: 560;
  color: #a5a5a5;
  font-size: 18px;
    text-align: center;
    
}
.iniciar{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.in{
   color: #1DBE7C;
   font-family: "Inter", sans-serif;
   padding-top: 3rem;
   font-weight: 660;
   font-size: 22px;
   text-align: center;
}
.inpu{
    display: flex;
    flex-direction: column;
  align-items: center; 
  margin-top: 1rem;
}
.user, .pas{
    margin-top: 1.5rem;
    width: 320px;
    padding: 1rem;
    border: 1px solid #A3A3A3;
    border-radius: 30px;
    font-family: "Inter", sans-serif;
  

}
.fandes{
    background: linear-gradient(to bottom, #fff, #52c494); /* Ángulo de 45 grados */
     margin: 0;
     min-height: 100vh;
}
.sub{
    margin-top: 1.5rem;
    width: 320px;
    padding: 0.8rem;
    border: 1px solid #fff;
    border-radius: 30px;
    font-family: "Inter", sans-serif;
    background-color: #BEEFE0;
    color: #5CB99D;
    font-family: "Inter", sans-serif;
    font-weight: 660;
    font-size: 22px;
}